/* Wordpress overrides */
#wpfooter, .updated, .notice, .update-nag { 
	display: none; 
}

#wpcontent { 
	margin-left: 140px; 
}

#wpbody-content { 
	padding-bottom: 0px; 
}

#wpadminbar {
	z-index: 899 !important;
}

#adminmenuwrap {
	z-index: 898 !important;
}

body {
	overflow: hidden;
}

body.folded #wpcontent, body.folded #wpfooter {
	margin-left: 16px;
}

/* Bootstrap Window */
.window {
	position: absolute !important;
}

.window.minimized {
	visibility: hidden !important;
}

.window.minimized [data-dismiss="window"] {
	visibility: hidden !important;
}

.window.maximized [data-minimize="window"] {
	display: none;
}

.window .window-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.window [data-maximize="window"] {
	padding-left: 0;
}

.window [data-minimize="window"] {
	float: right;
	line-height: 25px;
}

.window [data-minimize="window"] i {
	opacity: 0.2;
	line-height: 21px;
}

.window [data-dismiss="window"], 
.window [data-maximize="window"],
.window [data-minimize="window"], 
.window [data-restore="window"] {
	color: #000;
	cursor: pointer;
	background: 0 0;
	border: 0;
	-webkit-appearance: none;
	font-size: 12px;
}
.window-pane .label .close {
	color: #fff;
	opacity: 0.8;
	margin-left: 10px;
}

.mwp-studio .window-labels {
	position: absolute;
	bottom: 10px;
	left: 20px;
}

/* Web Browser */

#window-web-browser .window-body {
	padding: 0;
	overflow: hidden;
}

#window-web-browser .web-browser-container {
	position: relative;
}

#window-web-browser .web-browser-container .web-browser-bar {
	position: absolute;
	width: 100%;
	top: 3px;
	height: 36px;
	padding: 0 3px;
	z-index: 2;
}

#window-web-browser .web-browser-container .web-browser {
	height:100%; 
	width:100%; 
	padding: 40px 3px 3px; 
	position: relative;
}

#window-web-browser .web-browser-container .web-browser iframe {
	width: 100%;
	height: 100%;
}

#window-web-browser .web-browser-bar .input-group-addon {
	padding: 3px 12px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

/* Layouts */
#mwp-studio-container {
	position: fixed;
	z-index: 0;
}

.mwp-studio .ui-layout-pane-north { 
	border-bottom: 0 !important; 
	z-index: 1 !important; 
	overflow: visible !important; 
}

.mwp-studio .ui-layout-pane-center { 
	border-top: 0 !important; 
	overflow: hidden !important; 
}

.mwp-studio .ui-layout-pane-south { 
	padding-bottom: 30px !important 
}

.mwp-studio .ui-layout-statusbar {
	overflow: hidden;
	height: 20px;
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.mwp-studio .inner-center {
	border-right: 0px !important;
	border-left: 0px !important;
}

.mwp-studio .inner-south {
	border-right: 0px !important;
	border-left: 0px !important;
}

.mwp-studio .inner-west {
	border-left: 0px !important;
	border-top: 0px !important;
}

.mwp-studio .outer-east {
	border-top: 0px !important;
}

.mwp-studio .outer-west {
	border-top: 0px !important;
}

.mwp-studio .full-height {
	height: 100%;
}

.mwp-studio .padding-0 {
	padding: 0px !important;
}

.mwp-studio .overflow-hidden {
	overflow: hidden !important;
}

.mwp-studio .overflow-visible {
	overflow: visible !important;
}

.mwp-studio .ui-layout-resizer {
	z-index: -1 !important;
}

.mwp-studio .ui-layout-resizer.ui-layout-resizer-dragging {
	z-index: 2 !important;
}

/* Activity Indicator */
.activity-indicator {
	z-index: 1;
}

/* Navbar */
.mwp-studio .navbar-nav li {
	margin-bottom: 0;
}

.mwp-studio .navbar-brand {
	padding: 0 50px 0 10px;
}	

.mwp-studio .navbar-brand > i.fa.fa-lg {
	vertical-align: 0px;
}

.mwp-studio .navbar-brand h4 {
	display: inline-block;
	margin: 5px 20px 0 5px;
}

.mwp-studio .navbar-brand small {
	display: block;
	font-size: 10px;
	color: #bbb;
	margin-bottom: -8px;
}

.mwp-studio .dropdown-submenu {
    position: relative;
}

.mwp-studio .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.mwp-studio .dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.mwp-studio .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.mwp-studio .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.mwp-studio .dropdown-submenu.pull-left {
    float: none;
}

.mwp-studio .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* Menus */

.mwp-studio .dropdown-menu li i.fa {
	min-width: 20px;
}

/* Tabs Panel */
.mwp-studio .tabbed-panel {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
	border-top: 0px;
}

.mwp-studio .files-tabpanel .list-group-item {
	border: none;
}

/* Tables */

.mwp-studio .table-fixed > tbody {
    display:block;
    overflow:auto;
}

.mwp-studio .table-fixed > thead, 
.mwp-studio .table-fixed > tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

.mwp-studio .table-fixed > thead {
    width: calc( 100% - 1em )
}

.mwp-studio .table-fixed  > thead > tr > th {
	border-bottom: 0;
}

.mwp-studio .overflow-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.mwp-studio .popover-table {
	margin-bottom: 5px;
}

.mwp-studio .popover-table > tbody > tr {
	border-top: 0;
}

/* Pane Tables */

.mwp-studio .pane-table {
	margin-bottom: 0;
}

/* Ace Editors */
.mwp-studio .ace-editors .tab-pane:not(.active) .ace_editor {
	display:none;
}

/* Buttons */
.mwp-bootstrap .btn-xxs, .mwp-bootstrap .btn-group-xxs > .btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	font-size: 8px;
	line-height: 1.5;
	padding: 1px 3px;
}

.mwp-studio .btn-tab-xs {
	margin-left: 5px;
	vertical-align: 1px;
}

.mwp-studio .btn-flex {
	display: flex;
	align-items: stretch;
	align-content: stretch;
}

.mwp-studio .btn-flex .btn:first-child {
    flex-grow: 1;
    text-align: left;
}

/* Toolbox Elements */
.mwp-bootstrap .mwp-studio-toolbox .panel-title {
	font-size: 14px;
}

.mwp-bootstrap .mwp-studio-toolbox .panel-heading {
	cursor: pointer;
}

.mwp-bootstrap .mwp-studio-toolbox .panel-body .label {
	margin-right: 5px;
}

/* Project Info Tab */
.mwp-studio .tabbed-panel .project-info {
	padding: 35px 20px 20px;
	overflow: hidden;
}

.mwp-studio .tabbed-panel .project-info .project-name {
	font-size: 24px;
	font-weight: 200;
	padding-right: 20px;
}

.mwp-studio .tabbed-panel .project-info .label {
	font-size: 1em;
	vertical-align: 3px;
}

.mwp-studio .tabbed-panel .project-info .project-description {
	font-size: 18px;
	font-weight: 200;
	padding: 18px 0;
	line-height: 22px;
}

.mwp-studio .tabbed-panel .project-info .project-description cite {
	font-size: 14px;
}

/* Bootstrap popover */
.mwp-bootstrap .popover-title {
	font-size: 0.95em;
	font-weight: normal;
}

.mwp-bootstrap .popover > .arrow {
	left: auto;
	overflow: visible;
	margin-left: 0;
}

.mwp-bootstrap .popover > .arrow::after {
	left: auto;
	top: auto;
	background-color: transparent;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}

/* Code Creator Toolset */
#code-creator-toolbox-panel button {
	width: 60px;
	height: 60px;
	position: relative;
	padding: 0;
	margin-bottom: 3px;
}

#code-creator-toolbox-panel button .btn-icon {
	position: relative;
	top: -5px;
}

#code-creator-toolbox-panel button .btn-label {
	font-size: 9px;
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0 0 4px;
}

/*
 * jQuery UI Resizable 1.8.7
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Resizable#theming
 */
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}

/**
 * Bootstrap styled checkboxes, radios
 *
 */
.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
  line-height: 1.4;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";
}
.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}
.checkbox input[type="checkbox"]:disabled,
.checkbox input[type="radio"]:disabled {
  cursor: not-allowed;
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.checkbox-primary input[type="radio"]:indeterminate + label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:indeterminate + label::after,
.checkbox-primary input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::before,
.checkbox-danger input[type="radio"]:indeterminate + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::after,
.checkbox-danger input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::before,
.checkbox-info input[type="radio"]:indeterminate + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::after,
.checkbox-info input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::before,
.checkbox-warning input[type="radio"]:indeterminate + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::after,
.checkbox-warning input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::before,
.checkbox-success input[type="radio"]:indeterminate + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::after,
.checkbox-success input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled {
  cursor: not-allowed;
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff;
}
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff;
}
