/* Studio */
#wpfooter, .updated, .notice, .update-nag { 
	display: none; 
}

#wpcontent { 
	margin-left: 140px; 
}

#wpbody-content { 
	padding-bottom: 0px; 
}

.ui-layout-pane-north { border-bottom: 0 !important; z-index: 1 !important; overflow: visible !important; }
.ui-layout-pane-center { border-top: 0 !important; overflow: hidden !important; }
.ui-layout-pane-south { padding-bottom: 30px !important }
.ui-layout-statusbar {
	overflow: hidden;
	height: 20px;
	position: absolute;
	bottom: 5px;
	width: 100%;
}

/* Activity Indicator */
.activity-indicator {
	z-index: 1;
}

/* Navbar */
.mwp-studio .navbar-nav li {
	margin-bottom: 0;
}


.mwp-studio .dropdown-submenu {
    position: relative;
}

.mwp-studio .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.mwp-studio .dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.mwp-studio .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.mwp-studio .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.mwp-studio .dropdown-submenu.pull-left {
    float: none;
}

.mwp-studio .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* Menus */

.mwp-studio .dropdown-menu li i.fa {
	min-width: 20px;
}

/* Tabs Panel */
.mwp-studio .tabbed-panel {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
	border-top: 0px;
}

.mwp-studio .files-tabpanel .list-group-item {
	border: none;
}

/* Ace Editors */
.mwp-studio .ace-editors .tab-pane:not(.active) .ace_editor {
	display:none;
}


/* Buttons */
.mwp-bootstrap .btn-xxs, .mwp-bootstrap .btn-group-xxs > .btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	font-size: 8px;
	line-height: 1.5;
	padding: 1px 3px;
}

.mwp-studio .btn-tab-xs {
	margin-left: 5px;
	vertical-align: 1px;
}

.mwp-studio .btn-flex {
	display: flex;
	align-items: stretch;
	align-content: stretch;
}

.mwp-studio .btn-flex .btn:first-child {
    flex-grow: 1;
    text-align: left;
}