/* Wordpress overrides */
#wpfooter, .updated, .notice, .update-nag { 
	display: none; 
}

#wpcontent { 
	margin-left: 140px; 
}

#wpbody-content { 
	padding-bottom: 0px; 
}

body.folded #wpcontent, body.folded #wpfooter {
	margin-left: 16px;
}

/* Layouts */
.mwp-studio .ui-layout-pane-north { 
	border-bottom: 0 !important; 
	z-index: 1 !important; 
	overflow: visible !important; 
}

.mwp-studio .ui-layout-pane-center { 
	border-top: 0 !important; 
	overflow: hidden !important; 
}

.mwp-studio .ui-layout-pane-south { 
	padding-bottom: 30px !important 
}

.mwp-studio .ui-layout-statusbar {
	overflow: hidden;
	height: 20px;
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.mwp-studio .inner-center {
	border-right: 0px !important;
	border-left: 0px !important;
}

.mwp-studio .inner-south {
	border-right: 0px !important;
	border-left: 0px !important;
}

.mwp-studio .inner-west {
	border-left: 0px !important;
	border-top: 0px !important;
}

.mwp-studio .outer-east {
	border-top: 0px !important;
}

.mwp-studio .outer-west {
	border-top: 0px !important;
}

.mwp-studio .full-height {
	height: 100%;
}

.mwp-studio .padding-0 {
	padding: 0px !important;
}

.mwp-studio .overflow-hidden {
	overflow: hidden !important;
}

.mwp-studio .ui-layout-resizer {
	z-index: 0 !important;
}

/* Activity Indicator */
.activity-indicator {
	z-index: 1;
}

/* Navbar */
.mwp-studio .navbar-nav li {
	margin-bottom: 0;
}

.mwp-studio .navbar-brand {
	padding: 0 50px 0 10px;
}	

.mwp-studio .navbar-brand > i.fa.fa-lg {
	vertical-align: 0px;
}

.mwp-studio .navbar-brand h4 {
	display: inline-block;
	margin: 5px 20px 0 5px;
}

.mwp-studio .navbar-brand small {
	display: block;
	font-size: 10px;
	color: #bbb;
	margin-bottom: -8px;
}

.mwp-studio .dropdown-submenu {
    position: relative;
}

.mwp-studio .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.mwp-studio .dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.mwp-studio .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.mwp-studio .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.mwp-studio .dropdown-submenu.pull-left {
    float: none;
}

.mwp-studio .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* Menus */

.mwp-studio .dropdown-menu li i.fa {
	min-width: 20px;
}

/* Tabs Panel */
.mwp-studio .tabbed-panel {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
	border-top: 0px;
}

.mwp-studio .files-tabpanel .list-group-item {
	border: none;
}

/* Tables */

.mwp-studio .table-fixed > tbody {
    display:block;
    overflow:auto;
}

.mwp-studio .table-fixed > thead, 
.mwp-studio .table-fixed > tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

.mwp-studio .table-fixed > thead {
    width: calc( 100% - 1em )
}

.mwp-studio .table-fixed  > thead > tr > th {
	border-bottom: 0;
}

.mwp-studio .overflow-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.mwp-studio .popover-table {
	margin-bottom: 5px;
}

.mwp-studio .popover-table > tbody > tr {
	border-top: 0;
}

/* Pane Tables */

.mwp-studio .pane-table {
	margin-bottom: 0;
}

/* Ace Editors */
.mwp-studio .file-editors-panel {
	background: url('../img/studio-animation.gif') center center no-repeat;
}


.mwp-studio .ace-editors .tab-pane:not(.active) .ace_editor {
	display:none;
}

/* Buttons */
.mwp-bootstrap .btn-xxs, .mwp-bootstrap .btn-group-xxs > .btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	font-size: 8px;
	line-height: 1.5;
	padding: 1px 3px;
}

.mwp-studio .btn-tab-xs {
	margin-left: 5px;
	vertical-align: 1px;
}

.mwp-studio .btn-flex {
	display: flex;
	align-items: stretch;
	align-content: stretch;
}

.mwp-studio .btn-flex .btn:first-child {
    flex-grow: 1;
    text-align: left;
}

/* Toolbox Elements */
.mwp-bootstrap .mwp-studio-toolbox .panel-title {
	font-size: 14px;
}

.mwp-bootstrap .mwp-studio-toolbox .panel-heading {
	cursor: pointer;
}

.mwp-bootstrap .mwp-studio-toolbox .panel-body .label {
	margin-right: 5px;
}

/* Project Info Tab */
.mwp-studio .tabbed-panel .project-info {
	padding: 35px 20px 20px;
	overflow: hidden;
}

.mwp-studio .tabbed-panel .project-info .project-name {
	font-size: 28px;
	font-weight: 200;
}

/* Bootstrap popover */
.mwp-bootstrap .popover-title {
	font-size: 0.95em;
	font-weight: normal;
}

.mwp-bootstrap .popover > .arrow {
	left: auto;
	overflow: visible;
	margin-left: 0;
}

.mwp-bootstrap .popover > .arrow::after {
	left: auto;
	top: auto;
	background-color: transparent;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}